NEXT_PUBLIC_SUPABASE_URL=https://nitagdeebdaoiejakeld.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5pdGFnZGVlYmRhb2llamFrZWxkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUyMDMyOTcsImV4cCI6MjA4MDc3OTI5N30.6055pH8W1di7gN8Zf3dA7JGvFIQM9u-ORXT8T7ZpByg

# Get this from Supabase Dashboard -> Settings -> API -> service_role key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here
